<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agent Detail</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <div style="text-align: right;" class="mybutton">
            <p><a href="{% url 'logout' %}">Logout</a></p>
        </div>
        <h1>Real Estate App</h1>
    </header>
    <nav style="text-align: center;">
        <ul>
            <div style="text-align: center;" class="mybutton">
                <p><a href="agent_list.html">Agents</a>
                <a href="property_list.html">Properties</a>
                <a href="client_list.html">Clients</a>
                <a href="request_list.html">Requests</a>
                <a href="user_list.html">Users</a></p>
            </div>
        </ul>
    </nav>
    <main>
        <h2>Agent Detail</h2>
        <p>First Name: {{ agent.first_name }}</p>
        <p>Last Name: {{ agent.last_name }}</p>
        <p>Specialty: {{ agent.specialty }}</p>
        <div class="mybutton">
            <p><a href="{% url 'agent_update' agent.id %}">Edit</a></p>
            <p><a href="{% url 'agent_delete' agent.id %}">Delete</a></p>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Real Estate App</p>
    </footer>
</body>
</html>
